<p id="notice"><%= notice %></p>
<div>
  <h5 class="text-center">Your Favorite Articles</h5>
  <table style="width:100%">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Read More...
        </th>
        <th>
          Option
        </th>
      </tr>
    </thead>
    <tbody>
     <% @favorites.each do |favorite| %>
          <tr>
               <td><%= favorite.favoritable.title %></td>
               <td>
                 <%= link_to "READ MORE", article_path(favorite.favoritable) %>
               </td>
               <td>
                   <%= link_to "Un-Favorite", unfavor_path(favorite.favoritable), remote: true, class: "fav-#{ favorite.id } btn btn-danger" %>
               </td>
          </tr>
     <% end %>
</tbody>
  </table>
</div>
<%= link_to 'Back', root_path %>
