<p id="notice"><%= notice %></p>
<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @article.title %></h2>
  <h5 class="text-center"><%= @article.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= raw @article.body %></div>
</div>

<p>
  <strong>User:</strong>
  <%= link_to @article.user.name, show_user_path(@article.user) %>
</p>
<% if current_user %>
  <%= link_to "Do-Favorite", favor_path(@article), remote: true, class: "myfav btn btn-primary #{'hide' if @favorited}" %>
  <%= link_to "Un-Favorite", unfavor_path(@article), remote: true, class: "unfav btn btn-danger #{'hide' unless @favorited}" %>
<% end %>
<span id='fav_count'>
  Favorites Count: <%=  @article.favorited.count %>
</span>
<% if user_signed_in? and authorized?(@article) %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
