<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="author_info">
      <%= gravatar_for @author %>
      <h1><%= @author.name %></h1>
      <span><%= link_to 'view my profile', @author %></span>
      <span><b>Favorites:</b> <%= @articles.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @articles.any? %>
        <ul class="authors follow">
          <% cache @articles do %>
            <%= render @articles %>
          <% end %>
        </ul>
        <%= will_paginate @articles %>
    <% end %>
  </div>
</div>